<table class="w-full sm:w-[375px] shadow-sm border-[1px] border-[#002B2B] mx-auto overflow-x-hidden">
  <tr>
    <td> 
      <table class="w-full h-[427px] sm:h-[421px]">
        <tr>
          <td class="pt-5 px-5 sm:px-0 sm:pt-0">
            <table class="sm:w-[375px] w-[560px] h-[203px]">
              <tr> 
                <td class="w-full align-center-table">
                  <x-image class="sm:w-[335px] sm:h-[135px]" imgUrl="image-3.png" href="#" />
                </td>
              </tr>
              <tr> 
                <td class="w-[560px] h-[28px] pl-[30px] pt-[30px] font-primary align-center-table">
                    <table class="w-full sm:w-[375px] sm:h-[56px]">
                      <tr>
                        <td class="font-bold text-[24px] align-center-table ">
                        <p class="text-[#005555] leading-[27.6px]"> Excepteur sint occaecat cupidatat </p>
                      </td>
                    </tr>
                  </table>
                  </td>
              </tr>
              <tr>
                <td class="font-primary pt-[20px] px-[30px] h-[80px] align-center-table" >
                  <table class="max-w-500px sm:w-[375px]">
                    <tr>
                      <td class="font-normal text-[16px] align-center-table">
                        <p class="leading-[18.4px] text-[#444444]"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                      </td>
                    </tr>
                </table> 
                </td>
              </tr>
              <tr>
                <td class=" pt-[20px] px-[105px] h-[80px] align-center-table" >
                  <table class="max-w-500px sm:w-[375px]">
                    <tr>
                      <td class=" align-center-table ">
                        <button class="w-[350px] h-[46px] rounded-[10px] bg-[#008080] border-[0px]">
                          <a href="" class=""><span class="font-primary font-bold leading-[23px] text-[20px] text-white">Ut enim ad minim veniam</span></a></button>
                      </td>
                    </tr>
                  
                </table> 
                </td>
              </tr>
           
            </table>
         </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="h-[60px] ">
    &nbsp;
   </td></tr>
</table>
