<table class="w-full mt-5 shadow-sm  border-[1px] border-[#002B2B] mx-auto overflow-x-hidden">
  <tr>
    <td>
      <table class="w-full h-[330px] py-[20px] sm:w-[375px] mx-auto">
        <tr>
          <td class="w-[full] h-[full] px-[20px] ">
            <table class="w-[full] h-[full] ">
              <tr>
                <td>
                      <p class="font-primary font-bold leading-[13.8px] text-[12px]">Ut enim ad minim :</p>
                      <span class="font-primary leading-[13.8px] text-[12px] font-normal my-[1px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
                        
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                <br><br><br></td>
              </tr>
              <tr>
                <td>
                      <p class="font-primary font-bold leading-[13.8px] text-[12px]">Sint occaecat cupidatat:</p>
                      <span class="font-primary leading-[13.8px] text-[12px] font-normal">
                       <ol>
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </li>
                       </ol>
                       <hr class="w-full border-y-1 border-[#002B2B] rotate-[0.32deg]">
                </td>
              </tr>
              <tr>
                <td class="w-full h-[14px] align-center-table">
                   <p class="font-primary font-normal text-[12px] leading-[13.8px]">Sed do eiusmod tempor incididunt ut labore</p>
                </td>
              </tr>
              <tr>
                <td class="w-full h-full align-center-table ">
                  <x-image class="w-[100px] h-[48px] " imgUrl="image-2.png" href=""></x-image>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

