<table class="w-full sm:w-[375px] sm:h-[730px] shadow-md mx-auto  border-[1px] border-[#002B2B] overflow-x-hidden">
  <tr>
    <td>
      <table class="w-full h-[469px] bg-[#F0F5F5] justify-center">
        <tr>
          <td class="sm:w-[335px] w-[500px] h-[28px] pt-[40px] px-[50px] align-center-table font-primary font-bold text-[24px] leading-[27.6px]">
            <p class="text-[#005555]">Sint cupidatat occaecat ut</p>
          </td>
        </tr>
        <tr class="flex flex-row justify-between sm:flex-col items-center">
          <td class="w-[270px] h-[325px] mt-[30px] pt-[20px] ml-[20px] flex justify-center bg-[#FFFFFF] sm:mx-auto">
            <table class="w-full">
              <tr>
                <td class="align-center-table">
                  <span class="inline-block h-[100px] w-[100px] bg-[#D9D9D9] rounded-full ">&nbsp;</span>
                </td>
              </tr>
              <tr>
                <td class="h-[28px] font-bold text-[#005555] pt-[15px] text-center">
                  <p class="text-[20px]">Nisi ut ade</p>
                </td>
              </tr>
              <tr>
                <td class="pl-45px align-center-table">
                  <p class="text-[16px] w-[220px] text-center">Lorem ipsum dolor sit amet, consectetur et dolore magna aliqua. sed do eiumsmod tempor inciduidant ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </td>
              </tr>
            </table>
          </td>
          <td class="w-[270px] h-[325px] mt-[30px] mx-[20px] pt-[20px] flex justify-center bg-[#FFFFFF]">
            <table class="w-full">
              <tr>
                <td class=" align-center-table">
                  <span class="inline-block h-[100px] w-[100px] bg-[#D9D9D9] rounded-full"></span>
                </td>
              </tr>
              <tr>
                <td class="h-[28px] font-bold text-[#005555] pt-[15px] text-center">
                  <p class="text-[20px]">Duis aute irure</p>
                </td>
              </tr>
              <tr>
                <td class="pl-45px align-center-table">
                  <p class="text-[16px] w-[220px] text-center">Lorem ipsum dolor sit amet, consectetur et dolore magna aliqua. sed do eiumsmod tempor inciduidant ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
