<table class="w-full sm:w-[375px] mt-[12px] mx-auto  border-[1px] border-[#002B2B] scroll-mx-2 overflow-x-hidden">
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td class="pt-5 pl-5 py-[2px] sm:w-[335px] sm:h-[45px] align-center-table sm:pl-[16px]">
            <table class="w-full sm:w-[335px] mx-auto">
              <tr> 
                <td class="w-[110px] h-[48px] ">
                  <x-image  imgUrl="image-2.png" href="#" />
                </td>
                <td class="sm:w-[209px] sm:h-[43px] font-normal text-[12px] font-primary pl-[16px] align-middle ">
                  <p class="text-[#002B2B] leading-[13.8px] ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </td>
              </tr>
            </table>
         </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
